aiohttp==3.7.4.post0
aiohttp-apispec==2.2.1
aiohttp-session==2.9.0
apispec==3.3.2
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.2.0
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.8
gino==1.0.1
idna==3.2
Jinja2==2.11.3
MarkupSafe==2.0.1
marshmallow==3.13.0
multidict==5.1.0
pycparser==2.20
PyYAML==5.4.1
SQLAlchemy==1.3.24
typing-extensions==3.10.0.2
webargs==5.5.3
yarl==1.6.3
